@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

.Main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.5);
}

.Card {
  position: relative;
  width: 43%;
  height: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17%;
  border-radius: 20px;
  background-color: rgba(1,1,1,0.3);
}

.Quote {
  padding-top: 3%;
  margin-bottom: 1%;
  font-size: 20px;
  font-weight: 200;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.HeaderButtons {
  padding-top: 3.5%;
  padding-bottom: 3%;
  font-weight: 100;
  font-size: 23px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.work {
  display: inline-block;
  width: 47%;
  float: left;
}

.home {
  display: inline-block;
  width: 47%;
  float: right;
}

.separator {
  display: inline-block;
  width: 6%;
}

h3 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 25px;
}